table, td, tr, th {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    padding: 20px 15px 20px 15px;
}

td {
    padding: 20px 10px 20px 10px;
    text-align: center;
    font-size: 18px;
}

tr > td:first-child {
    background-color: rgb(192, 80, 77);
    color: white;
}

tr:nth-child(even) {
    background-color: rgb(229, 184, 183);
}

tr:nth-child(odd) {
    background-color: rgb(242, 219, 219);
}

tr > th:nth-child(n+3){
    color: white;
}

tr > th {
    background-color: rgb(242, 219, 219);
}

tr > th:nth-child(2) {
    background-color: rgb(229, 184, 183);
}

tr > th:nth-child(3) {
    background-color: rgb(217, 149, 148);
}

tr > th:nth-child(4) {
    background-color: rgb(148, 54, 52);
}

tr > th:nth-child(5) {
    background-color: rgb(99, 36, 35);
}