body {
    background-image: url("imgs/backgroundblur.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
}

p#free {
    margin-top: 3px;
}

.login-container {
    display: flex;
    max-width: 600px;
    overflow: hidden;
    background-color: white;
    border-radius: 3px;
    box-shadow:0 15px 40px rgba(0, 0, 0, 0.3);
}

.content {
    flex: 1;
    padding: 25px;
}

h2 {
    margin-left: 5px;
    margin-top: 0;
    margin-bottom: 0;
    color: darkgoldenrod;
}

.image-container {
    flex: 7%;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

input {
    margin-bottom: 12px;
}

span#red {
    color: crimson;
}

button {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: solid black 0px;
    color: white;
    width: 45%;
    height: 35px;
    background-color: #A45A52;
}

input.formdata {
    margin-top: 3px;
    border-radius: 3px;
    border: solid black 1px;
    height: 25px;
    width: 90%;
}

.account {
    font-size: 5px;
}

label {
    margin-left: 5px;
    font-weight: bold;
    font-size: 14px;
}

#free {
    font-size: 13px;
}

.button-container {
    display: flex;
}

.button-container > span {
    margin-top: 6px;
    margin-left: 10px;
    font-size: 11px;
    font-style: italic;
}

.button-container > span > a {
    margin: 0;
    padding: 0;
    color: #A45A52;
    text-decoration: none;
}

.show-checkbox {
    font-size: 12px;
    font-style: italic;
    font-weight: 100;
    margin: -3px;
    padding: 0;
}

::-webkit-input-placeholder {
    font-style: italic;
}